.cart {
  display: flex;
  flex-wrap: wrap;
  .container {
    margin: 20px 50px;
    width: 300px;

    .image {
      height: 500px;
      img {
        width: 300px;
      }
    }
    p {
      text-align: center;
    }

    button {
      margin-left: 75px;
      padding: 10px;
      background-color: yellow;
      border-radius: 5px;
      font-weight: 900;
      color: black;
      cursor: pointer;
    }
  }
}
